body{
    background-color:black;
    background-image: url("./../assets/wall.png");
    background-attachment:fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    max-height: 100vh;
}
input:focus{
    outline: none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }