body{
    background-color:black;
    background-image: url("./../assets/admin.jpg");
    background-attachment:fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    max-height: 100vh;
}
#content-body{
  background-image: none !important;
  background-color: rgb(27, 27, 27);
}
input:focus{
    outline: none !important;
}
.close{
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  color: white !important;
  width: 50px !important;
  transition: all 1s;
}
.close:hover{
  color: #fff !important;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #FF000F,
  0 0 82px #FF000F,
  0 0 92px #FF000F,
  0 0 102px #FF000F,
  0 0 151px #FF000F !important;
  box-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #FF000F,
  0 0 82px #FF000F,
  0 0 92px #FF000F,
  0 0 102px #FF000F,
  0 0 151px #FF000F !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  .status{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 20px;
  }
  .status:hover{
    border-color: white;
  }
.container{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#login{
  height: 500px;
  background-color: rgba(0, 0, 0, 0.167);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'otp otp otp otp otp otp'
    'footer footer footer footer footer footer';
  gap: 20px;
}
#login-header{
  grid-area: header;
}
#opt{
  grid-area: otp;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#login-footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.otp{
  color: white;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  padding: 20px;
  width: 5rem;
  max-width: 200px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#loginBtn{
  color: white;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.hb {
  width: 40px;
  margin: 0 auto;
  display: block;
}
#container{
  display: flex;
}
.nav-container-open{
  position:relative;
  left:0;
  min-width: 400px;
  max-width: 500px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 20px;
  backdrop-filter: blur(5px);
  animation: openNav 1s ease-in-out forwards;
}
.nav-container-open .nav-route{
  animation: fadeIn 1s ease-in-out forwards;
  display: block;
}
.nav-container-open #nav .nav-heading span:nth-child(2){
  animation: fadeIn 1s ease-in-out forwards;
  display: block;
}
.nav-container-closed{
  position:relative;
  left:0;
  width: 150px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 10px;
  animation: closeNav 1s ease-in-out forwards;
}
.nav-container-closed .nav-route{
  display: none;
  animation: fadeOut 2s ease-in-out forwards;
}
.nav-container-closed #nav .nav-heading span:nth-child(2){
  display: none;
  animation: fadeOut 2s ease-in-out forwards;
}
#nav{
  display: block;
  border-radius: 20px;
}
.nav-heading{
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.nav-item{
  display:flex;
  gap: 10px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 20px;
}
.nav-route a{
  color:white;
  text-decoration: none;
}
.nav-route a:hover{
  color: white;
}
#content{
  position:relative;
  right:0;
  width: 100vw;
  max-width: 100vw;
  padding: 20px;
  max-height: 100vh;
  overflow: auto;
}
.iconPlaypink{
  color: white;
}

/* CONTENT PAGE */

.item-card{
  border: 2px solid white;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.69);
}
#counters{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  white-space: nowrap;
  gap: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.69);
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
}
#counters div{
  display: inline-block;
  cursor: pointer;
}
tbody tr{
  cursor: pointer;
}
.table-container{
  padding: 20px;
}
#createPost, #createCategory{
  background-color: transparent;
  border: none;
}
.action-btn{
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 2px #FF000F,
  0 0 20px #FF000F,
  0 0 15px #FF000F,
  0 0 10px #FF000F,
  0 0 1px #FF000F;
  box-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 2px #FF000F,
  0 0 20px #FF000F,
  0 0 15px #FF000F,
  0 0 10px #FF000F,
  0 0 1px #FF000F;
}
.dataTables_filter{
  color: white;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 2px #FF000F,
  0 0 20px #FF000F,
  0 0 15px #FF000F,
  0 0 10px #FF000F,
  0 0 1px #FF000F;
}
.dataTables_filter label input{
  background-color: transparent;
  padding: 10px;
  font-size: 20px;
  color: white;
  border: 1px solid white;
  border-radius: 20px !important;
  font-weight: bold;
  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 2px #FF000F,
  0 0 20px #FF000F,
  0 0 15px #FF000F,
  0 0 10px #FF000F,
  0 0 1px #FF000F;
  box-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 2px #FF000F,
  0 0 20px #FF000F,
  0 0 15px #FF000F,
  0 0 10px #FF000F,
  0 0 1px #FF000F;
}
.modal{
  background-color: rgba(0, 0, 0, 0.882) !important;
}
.modal-content{
  border: 1pz solid white;
  background-color: black !important;
  color: white;
  box-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 2px #0003FF,
  0 0 20px #0003FF,
  0 0 15px #0003FF,
  0 0 10px #0003FF,
  0 0 1px #0003FF;
}
.input{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  color: white !important;
}
.input option{
  background-color: black;
  border: 1px solid white;
  padding: 10px;
  width: 100%;
  color: white !important;
}
.modal-footer button{
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 20px;
  color: white !important;
  padding: 15px;
}
/* ANIMATIONS */
@keyframes fadeIn {
  0% {
      display: none;
  }
  1%{
      display: block;
      opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}
@keyframes fadeOut {
  0% {
      display: block;
      opacity: 100%;
  }

  100%{
    opacity: 0%;
    display: none;
  }
}
@keyframes openNav {
  0% {
      width: 150px;
  }

  100%{
    min-width: 400px;
    max-width: 500px;
  }
}
@keyframes closeNav {

  100%{
    width: 150px;
  }
}