body{
    background-color:black;
    background-image: url("./../assets/wall.png");
    background-attachment:fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    max-height: 100vh;
}
#content{
    position: relative;
    top: 100px;
    padding: 50px;
}
#post-details{
    background-color: rgba(0, 0, 0, 0.641);
    border-radius: 12px;
    padding: 20px;
}
#post-uploaded{
    color:#737373;
    font-size:20px;
}
#post-title{
    font-size:30px;
}
#post-content{
    font-size: 20px;
}
#post-likes,#post-comments{
    font-size:20px;
    font-weight: bolder;
}
#post-interactions{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
    gap: 30px;
}
#previous-posts-container{
    background-color: rgba(0, 0, 0, 0.641);
    border-radius: 12px;
    padding: 20px;
    list-style-type: none;
}
#previous-post{
    cursor: pointer;
}
#previous-posts-container li{
    border-bottom: 2px solid white;
}
.hdn-submit{
    display: none;
}

.previous-post-title{
    font-size: 25px;
}
/* ICONS */
.red-icon path {
    fill: #FF000F;
}
.blue-icon path {
    fill: #0003FF;
}
.pink-icon path {
    fill: #FF00D6;
}
.lime-icon path {
    fill: #9EFF00;
}
.purple-icon path {
    fill: #B500FF;
} 
.red-icon:hover path {
    fill: #FF000F;
    animation: redGlow 1s infinite alternate;
}
.blue-icon:hover path {
    fill: #0003FF;
    animation: blueGlow 1s infinite alternate;
}
.pink-icon:hover path {
    fill: #FF00D6;
    animation: pinkGlow 1s infinite alternate;
}
.lime-icon:hover path {
    fill: #9EFF00;
    animation: limeGlow 1s infinite alternate;
}
.purple-icon:hover path {
    fill: #B500FF;
    animation: purpleGlow 1s infinite alternate;
} 
