body{
    background-color:black;
    background-image: url("./../assets/wall.png");
    background-attachment:fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    max-height: 100vh;
}
input:focus{
    outline: none !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: white;
        text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 2px #0003FF,
    0 0 20px #0003FF,
    0 0 15px #0003FF,
    0 0 10px #0003FF,
    0 0 1px #0003FF;
  }
  #logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #logo h1{
    font-size: 50px;
  }
#content{
    padding: 100px;
}
#post{
    background-color: rgba(0, 0, 0, 0.641);
    border-radius: 12px;
    padding: 20px;
}
#title{
    font-size: 70px;
    font-weight: bold;
}
#created-at{
    color:#737373;
    font-size:20px;
}
#written-content{
    font-size: 25px;
}
#comments{
    background-color: rgba(0, 0, 0, 0.641);
    border-radius: 12px;
    padding: 20px;
}
#comments h2{
    font-weight: bold;
}
#make-comment{
    display:flex;
    gap: 10px;
    margin-bottom: 50px;
}
#comment{
    background-color: transparent;
    color: white;
    height: 3rem;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}
#make-comment button{
    border: none;
    background-color: transparent;
}
.comment-text{
    font-size:25px;
}
.comment{
    transition: all 1s;
    padding: 5px;
    border-top: 1px;
}
.comment:hover{
    background-color: #00000038;
}
#sendSVG{
    background-color: transparent;
}